.switch {
    position: relative;
    border: none;
    box-shadow: 0 1px 1px inset rgba(0,0,0,0.2);
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.switch-trigger {
    position: absolute;
    top: 2px;
    background-color: #fff;
    transition: left 0.2s ease, border-radius 0.2s ease, width 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.tri-switch {
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    border: none;
    box-shadow: 0 1px 1px inset rgba(0,0,0,0.2);
    transition: background-color 0.2s ease;
    cursor: pointer;

    .switch-trigger {
        border: 2px solid #fff;
    }

    input[type="radio"] {
        position: absolute;
        margin: 0;
        opacity: 0;
        cursor: pointer;

        + label {
            display: block;
            margin: 2px;
            flex-shrink: 1;
            flex-grow: 0;
            background-color: transparent;
            cursor: pointer;
            border: 1px solid transparent;
        }
    }
}
